
button.css-1cpxqw2.edgvbvh9{

    color: white;
    background-color: #3FD2C7;   
}

.css-1phedmd {
    border-radius: 15px;

}

.css-15tx938{
    color:#150734;
    
}

.st-bv {
    background-color: rgb(255, 255, 255);
}

.st-bu {
    background-color: rgb(255, 255, 255);
}

.st-bt {
    background-color: rgb(255, 255, 255);
}

.st-bs {
    background-color: rgb(255, 255, 255);
}

.st-br {
    background-color: rgb(255, 255, 255);
}

.st-bq {
    color:#150734;
}

.css-1r8izn3 {
    background-color: rgb(255 255 255);
}


.css-rvekum p, .css-rvekum ol, .css-rvekum ul, .css-rvekum dl, .css-rvekum li {

    font-size: large;
    
    font-weight: bold;
}